@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./reset.css");
@import url("./utils.css");

:root {
  --white: hsl(0deg, 0%, 100%);
  --pink-100: hsl(275deg, 100%, 97%);
  --pink-500: hsl(281deg, 83%, 54%);
  --purple-400: hsl(292deg, 16%, 49%);
  --purple-900: hsl(292deg, 42%, 14%);

  --fs-heading: clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);
  --fs-question: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  --fs-answer: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);

  --fw-heading: 700;
  --fw-question: 600;
  --fw-answer: 400;
  
  --lh-answer: 1.5;
}

html {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--pink-100);
  background-image: url("./assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 768px) {
  body {
    background-image: url("./assets/images/background-pattern-desktop.svg");
  }
}
