@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./reset.css");
@import url("./utils.css");

:root {
  --white: hsl(0deg, 0%, 100%);
  --pink-100: hsl(275deg, 100%, 97%);
  --pink-500: hsl(281deg, 83%, 54%);
  --purple-400: hsl(292deg, 16%, 49%);
  --purple-900: hsl(292deg, 42%, 14%);
}
